<!DOCTYPE html>
<html>
  <head>
    <title>File input with Bokeh</title>
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-2.2.1.min.css" rel="stylesheet">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.2.1.min.css" rel="stylesheet">
  </head>
  <body>
    <h1>Inicia a redução fazendo o upload da imagem</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <p>Escolha um arquivo .fits ou .fit<br>
        <input type="file" name="fits"></p>
      <p>Escolha o arquivo .corr obtido do astrometry.net<br>
        <input type="file" name="corr"></p>
      <p><input type="submit" value="Iniciar"></p>
    </form>
    <!-- {{ the_div|safe }} -->
    <!-- <script type=text/javascript src="{{ url_for('static', filename='scripts.js') }}"></script> -->
    <!-- <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.1.min.js" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.2.1.min.js" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.2.1.min.js" crossorigin="anonymous"></script> -->
    <!-- {{ the_script|safe }} -->
  </body>
</html>