<!DOCTYPE html>
<html>
  <head>
    <title>Redução de dados fotométricos</title>
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-2.2.2.min.css" rel="stylesheet">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.2.2.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <meta property="og:image" content="{{ url_for('static', filename='icons/BlackWomanFistUp.jpg') }}">
    

  </head>
  <body>
    <h1>Inicia a redução fazendo o upload da imagem</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <label for="refname">Nome para referenciar a análise:</label><br>
      <input type="text" id="refname" name="refname">
      <p>Escolha os arquivos .fits ou .fit<br>
        <b>B:</b> <input type="file" name="fitsB" multiple></p>
        <b>V:</b> <input type="file" name="fitsV" multiple></p>
        <b>R:</b> <input type="file" name="fitsR" multiple></p>
      <p><input type="submit" value="Iniciar"></p>
    </form>
    <!-- {{ the_div|safe }} -->
    <!-- <script type=text/javascript src="{{ url_for('static', filename='scripts.js') }}"></script> -->
    <!-- <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.1.min.js" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.2.1.min.js" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.2.1.min.js" crossorigin="anonymous"></script> -->
    <!-- {{ the_script|safe }} -->
  </body>
</html>